<launch>
<arg name="group_name" default="turtlesim_1" />

<group ns="$(arg group_name)">
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim" />
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="turtlesim_move" output = "screen">
    <remap from="/TG_1/cmd_vel" to="/TG_1/turtle1/cmd_vel"/>
    </node>
</group>

</launch>
